{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="log-in">
    <div class="log-in-body">
        <span class="log-in-h2-box">
            <h2 class="log-in-btm"><a href="{% url 'user_login' %}">Log-In</a></h2>
            <h2 class="reg-btm"><a href="{% url 'register' %}">Registration</a></h2>
        </span>
        
        <div class="log-in-box">
            <form action="." method="post">
                {% csrf_token %}
                <label for="username"><input type="text" name="username" id="id_username" placeholder="Username" minlength="5" maxlength="25"></label>
                <label for="password"><input type="password" name="password" id="id_password" placeholder="Password" minlength="5" maxlength="25"></label>
                <label class="forget-label"><input type="checkbox" name="" id=""><p>Remember me</p></label>
                <p>Forgot password</p>
                <label class="form-btm"><input type="submit" value="login"></label>
                <label><input type="hidden"></label>
            </form>
            <div class="log-auto-btm">
                <img src="{% static "account/img/git-logo.png" %}" alt="git hub logo">
                <p><a href="{% url "social:begin" "github" %}">Log-in with git hub</a></p>
            </div>
        </div>
        <div class="reg-box">
            <form action="." method="post">
                {% csrf_token %}
                <label><input type="text" name="usernames" id="username" placeholder="Login" minlength="1" maxlength="25"></label>
                <label><input type="email" name="email" id="email" placeholder="Email" minlength="5" maxlength="25"></label>
                <label><input type="password" name="password" id="password" placeholder="Password" minlength="5" maxlength="25"></label>
                <label><input type="password2" name="password2" id="password2" placeholder="Repeat password" minlength="5" maxlength="25"></label>
                <label class="form-btm"><input type="submit" value="register"></label>
                
            </form>
        </div>
    </div>
</div>
<!--
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
        <a href="{% url "social:begin" "github" %}">github</a>
    </form>
    -->
{% endblock %}