{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="log-in">
    <div class="log-in-body">
        <span class="log-in-h2-box">
            <h2 class="log-in-btm">Log-In</h2>
            <h2 class="reg-btm">Registration</h2>
        </span>
        <div class="log-in-box">
            <form action="." method="post">
                <label><input type="text" name="username" id="id_username" placeholder="Login" minlength="5" maxlength="25"></label>
                <label><input type="password" name="password" id="id_password" placeholder="Password" minlength="5" maxlength="25"></label>
                <label class="forget-label"><input type="checkbox" name="" id=""><p>Remember me</p></label>
                <p>Forgot password</p>
                <label class="form-btm"><input type="submit" name="" id="" value="Login"></label>
                <label><input type="hidden"></label>
                {% csrf_token %}
            </form>
            <div class="log-auto-btm">
                <img src="{% static "accaunt/img/git-logo.png" %}" alt="git hub logo">
                <p><a href="{% url "social:begin" "github" %}">Log-in with git hub</a></p>
            </div>
        </div>
        <div class="reg-box">
            <form action="." method="post">
                <label><input type="text" name="username" id="id_username" placeholder="Login" minlength="1" maxlength="25"></label>
                <label><input type="email" name="email" id="reg_email" placeholder="Email" minlength="5" maxlength="25"></label>
                <label><input type="password" name="password" id="id_password" placeholder="Password" minlength="5" maxlength="25"></label>
                <label><input type="password" name="password2" id="id_password2" placeholder="Repeat password" minlength="5" maxlength="25"></label>
                <label class="form-btm"><input type="submit" value="Registr"></label>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
<!--
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
        <a href="{% url "social:begin" "github" %}">github</a>
    </form>
    -->
{% endblock %}