{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'game/img/git-logo.png' %}" type="image/png">
</head>
<body>
    <header class="game-header">
        <div class="wrapper">
            <div class="header-logo">
                <a href="index.html" class="header-logo-img"><img src="{% static 'game/img/git-logo.png' %}" alt="Logo name and photo"><span class="logo-text">Tamagochi</span></a>
            </div>
            <div class="header-menu">
                <ul>
                    <li><a href="game.html">Game</a></li>
                    <li><a href="{% url 'homepage' %}">News</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="#">{{ user.username }}</a></li>
                    {% else %}
                        <li><a href="#">Profil</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <main class="game-main">
        <section class="game">
            <div class="game-screen">
                <div class="cards-page">
                    {% for n in nfts %}
                    {% if n.is_published %}
                    <figure class="card">
                        <span class="card-img">
                            <img src="{{ n.nft_storage_url }}" alt="1">
                        </span>
                        <figcaption>
                            <div class="card-characteristics">
                                <ul>
                                    <li>
                                        <p>Health:</p>
                                        <p>{{ n.health }}</p>
                                    </li>
                                    <li>
                                        <p>Satiety:</p>
                                        <p>{{ n.health }}</p>
                                    </li>
                                    <li>
                                        <p>Happiness:</p>
                                        <p>{{ n.health }}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-prise">
                                <p>Price</p>
                                <span>{{ n.price_card }}</span>
                            </div>
                        </figcaption>
                        <div class="card-select-box">
                            <form action="." method="post"><input  class="form-btm" type="button" value="Select"></form>
                        </div>
                    </figure>
                    {% endif %}
                    {% endfor %}
                </div>
                {% for n in nfts %}
                {% if n.selected %}
                <div class="home-page"><div class="player-nft"><img src="{{ n.nft_storage_url }}" alt="s"></div><p class="player-nft-name">{{ n.name }}</p></div>
                {% endif %}
                {% endfor %}
                <div class="chat-page"></div>
            </div>
            <div class="game-menu">
                <div class="card-info">
                    <div class="game-health"><span class="health-bar"></span></div>
                    <div class="game-satiety"><span class="satiety-bar"></span></div>
                    <div class="game-happiness"><span class="happiness-bar"></span></div>
                </div>
                <div class="page-menu">
                    <ul>
                        <li>
                            <p class="cards-btm game-btm">Cards</p>
                        </li>
                        <li>
                            <p class="home-btm game-btm">Home</p>
                        </li>
                        <li>
                            <p class="chat-btm game-btm">Chat</p>
                        </li>
                    </ul>
                </div>
                <div class="game-btms">
                    <div class="feed-btm game-btm">Feed</div>
                    <div class="play-btm game-btm">Play</div>
                    <div class="treat-btm game-btm">Treat</div>
                </div>
                
            </div>
        </section>
    </main>
    <script src="{% static 'game/js/script.js' %}"></script>
</body>
</html>

