{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamagochi Market</title>
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'game/img/git-logo.png' %}" type="image/png">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header-logo">
                <a href="{% url 'homepage' %}" class="header-logo-img"><img src="{% static 'game/img/git-logo.png' %}" alt="Logo name and photo"><span class="logo-text">CryptoGochi</span></a>
            </div>
            <div class="header-menu">
                <ul>
                    <li><a href="{% url 'game' %}">Game</a></li>
                    <li><a href="{% url 'homepage' %}">News</a></li>
                    <li class="profile">
                        {% if user.is_authenticated %}
                        <a href="">{{ user.username }}</a>
                        {% else %}
                        <a href="{% url 'login' %}">Profile</a>
                        {% endif %}
                        <div class="profile-menu">
                            <a href="{% url 'profile' %}">My profile</a>
                            <a href="{% url 'market' %}">Market</a>
                            <form action="." method="post">
                                {% csrf_token %}
                                <button type="submit" class="form-btm" value="Logout">Logout</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <h2 class="profile-title">Market</h2>
            <section class="market-cards">
                {% for card in nft %}
                {% if card.is_published %}
                <figure class="card">
                    <span class="card-img">
                        <img src="{{ card.nft_storage_url }}" alt="1">
                    </span>
                    <figcaption>
                        <div class="card-characteristics">
                            <ul>
                                <li>
                                    <p>Health:</p>
                                    <p>{{ card.health }}</p>
                                </li>
                                <li>
                                    <p>Satiety:</p>
                                    <p>{{ card.satiety }}</p>
                                </li>
                                <li>
                                    <p>Happiness:</p>
                                    <p>{{ card.happiness }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-prise">
                            <p>Price</p>
                            <span>{{ card.price_card }}</span>
                        </div>
                    </figcaption>
                    <div class="card-select-box">
                        <form action="." method="post"><input class="form-btm" type="button" value="Buy"></form>
                    </div>
                </figure>
                {% endif %}
                {% endfor %}
        </div>
    </main>
    <footer>
        <p class="copy">&reg; The Silver Beasts 2021</p>
    </footer>
    <script src="{% static 'game/js/script.js' %}"></script>
</body>

</html>