html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
}
/* --------------------------------------------index-------------------------------------------------- */
/* header */
header{
    background: #ffe652;
    box-shadow:  0 5px 15px 2px rgba(0, 0, 0, .115);
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo-img img{
    width: 50px;
}
.header-logo a{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
}
.header-logo a:hover{
    transform: scale(1.05);
}
.logo-text{
    display: block;
    margin-left: 15px;
}
.header-menu li{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.header-menu a{
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
}
.header-menu a:hover{
    transform: scale(1.05);
    box-shadow:  0 5px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.header-menu li:last-child{
    margin-right: 0;
}
.form-btm{
    transition: all .3s ease;
}
.header-menu .form-btm{
    padding: 10px 15px;
    width: 100%;
    background: #ffe652;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.header-menu .form-btm:hover{
    transform: scale(1.05);
    box-shadow:  0 5px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.profile{
    position: relative;
    display: inline-block;
}
.profile-menu{
    padding: 20px;
    display: none;
    position: absolute;
    top: 30px;
    right: -40px;
    width: 125px;
    background: #ffe652;
    border: 1px solid #000;
    border-radius: 5px;
}
.profile:hover .profile-menu{
    display: block;
    text-align: center;
}
.profile-menu a{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;

}
.profile-menu p{
    margin: 0;
}
/* end header */
main{
    padding: 50px 0;
}
.index-body{
    display: flex;
}
.main-title{
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.news-today{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 4%;
    width: 95%;
    font-size: 0;
}
.news-body{
    display: block;
    padding: 15px 30px;
    overflow-y: auto;
    max-height: 175px;
}
.news-today .news-box{
    margin: 0;
    margin-bottom: 15px;
    width: auto;
    font-size: 16px;
}
.news-today .news-box h3{
    text-align: left; 
    font-size: 20px;
}
.right-info-index{
    display: inline-block;  
    width: 40%;
}
.index-crypto{
    margin-bottom: 50px;
}
.crypto-info{
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    background: #ffe652;
    border: 1px solid #000;
    border-radius: 5px;
}
.crypto-info ol{
    margin: 0;
    padding: 0;
    width: 100%;
}
.index-crypto li{
    display: flex;
    justify-content: space-between;
}
.index-crypto li p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.index-news{
    margin: 0;
    padding: 0;
}
.index-news .news-box{
    display: block;
    width: auto;
    margin: 0 0 20px 0;
}
.index-news .news-box:last-child{
    margin: 0;
}
.copy{
    margin: 0;
    padding: 15px;
    text-align: center;
    background: #ffe652;
}
/* --------------------------------------------end index-------------------------------------------------- */

/* ----------------------------------------regisstration------------------------------------------- */
.log-in{
    display: block;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
}
.log-in-body{
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 380px;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffe652;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(255, 228, 0, .3);
    border: 2px solid #000;
}
.log-in-h2-box{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    padding-bottom: 10px;
    min-height: 75px;
    border-bottom: 2px solid #000;
}
.log-in-btm,
.reg-btm{
    position: absolute;
    margin: 0;
    top: 0;
    font-size: 2em;
    transition: all .3s ease;
    cursor: pointer;
}
.reg-btm{
    top: 50px;
    font-size: .9em;
}
.reg-box{
    display: none;
}
.log-in-body form label{
    display: block;
}
.log-in-body form input{
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 230px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.log-in-body form .forget-label{
    display: inline-block;
    position: relative;
}
.log-in-body form .forget-label input{
    width: 13px;
}
.log-in-body form .forget-label::after{
    content: "";
    position: absolute;
    right: -3px;
    width: 1px;
    height: 25px;
    background: #000;
}
.log-in-body form p{
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
.log-in-body .form-btm input{
    width: 260px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}
.log-auto-btm{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
}
.log-auto-btm:hover{
    transform: scale(1.05);
    box-shadow:  0 10px 2px 1px rgba(0, 0, 0, .3);
}
.log-auto-btm img{
    margin-right: 10px;
    width: 35px;
    font-size: 14px;
}
.log-auto-btm p{
    margin: 0;
    text-decoration: none;
}
/* ---------------------------------------end registration---------------------------------------- */

/* ---------------------------------------------news---------------------------------------------- */
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.news-section{
    margin: -25px;
    padding: 25px 0;
    font-size: 0;
}
.news-box{
    text-align: left;
    display: inline-block;
    margin: 25px;
    padding: 25px;  
    width: 40%;
    background: #ffe652;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow:  0 0 2px 1px rgba(0, 0, 0, .3);
    transition: all .3s ease;
    font-size: 16px;
}
.news-box:hover{
    transform: scale(1.02);
    box-shadow:  15px 15px 2px 1px rgba(0, 0, 0, .3);
}
.news-img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.news-img img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    min-height: 200px;
    object-fit: cover;
}
.news-name{
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.date-view{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
}
.news-date,
.news-view{
    display: inline-block;
    margin: 0;
}
.news-view{
    margin-right: 30px;
}
.date-view::before{
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    background: center / contain no-repeat url(../img/eye.png);
}
.news-text{
    margin: 0;
    margin-bottom: 20px;
}
.news-more{
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}
.news-more:hover{
    box-shadow:  0 3px 2px 1px rgba(0, 0, 0, .3);
}

/* --------------------------------------------end news-------------------------------------------------- */


/* ----------------------------------------------game---------------------------------------------------- */
.game-header{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 63px;    
    opacity: 0;
    transition: all .5s ease;
    z-index: 5;
}
.game-header .wrapper{
    transition: all .3s ease;
}

.game-header:hover{
    opacity: 1;
}
.game{
    overflow: hidden;
    min-height: 100vh;
}
.game-main{
    padding: 0;
    overflow: hidden;
}
.game-screen{
    position: relative;
    top: 0;
    height: 82.5vh;
}
.game-menu{
    display: block;
    padding: 50px;
    position: relative;
    background: #fff;
    border: 3px solid #ffe652;
    border-radius: 5px;
}
.card-info,
.page-menu,
.game-btms{
    display: inline-block;
    position: absolute;
    /* bottom: 0; */
}
.card-info{
    left: 5%;
    bottom: 45%;
    transform: translate(-5%, -55%);
}
.game-btms{
    right: 2.5%;
    bottom: 13%;
    transform: translate(-6%, -13%);
}
.page-menu{
    padding: 50px 25px;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    background: #fff;
    border: 3px solid #ffe652;
    border-radius: 5px 5px 0 0;
}
.page-menu ul{
    margin: 0;
    padding: 0;
}
.page-menu li{
    display: inline-block;
    margin-right: 25px;
    list-style: none;
}
.page-menu li:last-child{
    margin-right: 0;
}
.game-btm{
    margin: 0;
    padding: 15px;
    cursor: pointer;
    border: 3px solid #ffe652;
    border-radius: 5px;
    transform: scale(1);
    transition: all .3s ease;
}
.home-btm{
    background: #ffe652;
}
.game-btm:hover{
    box-shadow:  3px 3px 2px 1px rgba(0, 0, 0, .3);
}
.game-btms .game-btm{
    margin-right: 25px;
}
.game-btms .game-btm:last-child{
    margin-right: 0;
}
.game-btms .game-btm:hover{
    background: #ffe652;
}
.feed-btm,
.play-btm,
.treat-btm{
    display: inline-block;
}
.card-info div{
    display: inline-block;
    margin-right: 25px;
    width: 75px;
    height: 20px;
    border: 2px solid #ffe562;
    border-radius: 5px;
    z-index: 2;
}
.card-info span{
    display: inline-block;
    height: 100%;
    border-radius: 3px;
}
.card-info div:last-child{
    margin-right: 0;
}
.card-info div:after{
    top: 35px;
    width: 50px;
}
.health-bar{
    width: 50%;
    background: #db3156;
}
.satiety-bar{
    width: 75%;
    background: #f3a356;
}
.happiness-bar{
    width: 100%;
    background: #1ba356;
}
.game-health::after{
    content: "health";
    position: absolute;
    left: 17px;
}
.game-satiety::after{
    content: "satiety";
    position: absolute;
    left: 125px;
}
.game-happiness::after{
    content: "happines";
    position: absolute;
    left: 225px;
}
.cards-page{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    transition: all .5s ease;
}
.card{
    display: inline-block;
    position: relative;
    background: #ffe652;
    border-radius: 5px;
    font-size: 20px;
    transform: scale(0.7);
}
.card-img{
    display: block;
    width: 250px;
}
.card-img img{
    width: 100%;
    object-fit: cover;
}
.card figcaption{
    padding: 20px 0;
}
.card-characteristics{
    margin-bottom: 20px;
}
.card-characteristics ul{
    margin: 0;
    padding: 0;
}
.card-characteristics li{
    margin-bottom: 15px;
    list-style: none;
    text-align: center;
}
.card-characteristics p{
    display: inline-block;
    margin: 0;
}
.card-prise{
    text-align: center;
}
.card-prise p{
    margin: 0;
    margin-bottom: 10px;
}
.card-prise span{
    font-size: 25px;
    font-weight: bold;
    padding: 0 15px;
    border-bottom: 2px solid #000;
}
.card-select-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    border-radius: 0 0 5px 5px;
    transition: all .3s ease;
}
.card-select-box:hover{
    opacity: 1;
}
.card-select-box .form-btm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background: #ffe652;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.card-select-box .form-btm:hover{
    color: #fff;
    box-shadow: 3px 3px 1px 1px rgba(255, 228, 0, .3);
}
.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s ease;
}
.chat-page{
    transition: all .5s ease;
    position: absolute;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    background: goldenrod;
}
.player-nft{
    position: relative;
}
.player-nft-name{
    position: absolute;
    top: 100px;
    font-size: 25px;
}