{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'newsline\css\style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header-logo">
                <a href="{% url 'homepage' %}" class="header-logo-img"><img
                        src="{% static 'newsline/img/git-logo.png' %}" alt="Logo name and photo"><span
                        class="logo-text">CryptoGochi</span></a>
            </div>
            <div class="header-menu">
                <ul>
                    <li><a href="{% url 'game' %}">Game</a></li>
                    <li><a href="{% url 'homepage' %}">News</a></li>
                    
                    <li class="profile">
                        {% if user.is_authenticated %}
                        <a href="">{{ user.username }}</a>
                        {% else %}
                        <a href="">Profile</a>
                        {% endif %}
                        <div class="profile-menu">
                            <a href="{% url 'profile' %}">My profile</a>
                            <a href="{% url 'market' %}">Market</a>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="form-btm" value="Logout">Logout</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
        <p class="copy">&reg; The Silver Beasts 2021</p>
    </footer>

    <script type="text/javascript" src="{% static 'newslist\js\index.js' %}"></script>
    <script type="text/javascript" src="{% static 'newslist\js\script.js' %}"></script>

</body>

</html>